/* Skills */

/* Two-column masonry-style layout */
.skills-columns {
	column-count: 2;
	column-gap: 2.5em;

	/* Single column on large screens or smaller (1280px) */
	@include breakpoint(large) {
		column-count: 1;
	}
}

/* Section styling */
.skill-section {
	break-inside: avoid;
	margin-bottom: 1.5em;
}

.skill-section-heading {
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.25em 0;
	padding-bottom: 0.15em;
	border-bottom: 2px solid currentColor;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.skill-section-items {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.skillbar {
	position:relative;
	display:block;
	width:100%;
	background:#eee;
	height:28px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}


.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:12px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 12px;
	height:28px;
	line-height:28px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:28px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:8px;
	top:0;
	font-size:10px;
	height:28px;
	line-height:28px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}
