// About page (/about)

.markdown {
  p {
    margin: auto;
  }

  h1 {
    font-size: 0.8em;
    margin-top: 3em;
  }

  table.countries-visited,
  table.countries-want-to-visit {
    td {
      vertical-align: top;
    }
  }

  table.countries-visited {
    th[colspan='3'] {
      text-align: center;
    }

    thead th:nth-child(n + 2),
    tbody td:nth-child(n + 4) {
      border-left: solid 1px _palette(border);
    }
  }

  table.countries-want-to-visit {
    thead th:nth-child(n + 2),
    tbody td:nth-child(n + 2) {
      border-left: solid 1px _palette(border);
    }
  }
}
